<div class="event">
   <div class="content">
       <div class="summary">
           <em><%= message.user.username %></em>: <%=message.body%>  
           	<br>
            <%= time_ago_in_words(message.user.created_at)%> ago

        </div>
    </div>
 </div>  