<h4 class="ui center aligned medium icon header">
   <i class="circular teal comments outline icon"></i>
   Say something
</h4>

<div class= "ui two column grid">
      <div class="twelve wide column">
         <div class="ui fluid raised card chatbox">
            <div class="content">
               <div class="ui feed">
                  <div class="event">
                     <div class="content">
                        <div class="summary">
                           <em>Me</em>: Trump 2024
                        </div>
                     </div>
                  </div>
                  <div class="event">
                     <div class="content">
                        <div class="summary">
                           <em>Rob</em>: MAGA!
                        </div>
                     </div>
                  </div>
                  <div class="event">
                     <div class="content">
                        <div class="summary">
                           <em>Big Steve</em>: 5k bet FTW! 
                        </div>
                     </div>
                  </div>
                  <div class="event">
                     <div class="content">
                        <div class="summary">
                           <em>Fee</em>: ugh nice!
                        </div>
                     </div>
                  </div>
               </div>
         </div>
            <div class="extra content">
                  <form class="ui reply form">
                       <div class="field">
                           <div class="ui fluid icon input">
                                <input type="text" placeholder="Enter a mssage...">
                            <i class="borderd inverted  teal edit icon"></i> 
                           </div>
                       </div>
                  
                    </form>
             </div>
      </div>
   </div>
   <div class="four wide column">
      <div class="ui fluid raised card chatbox">
          <div class="content">
            <div class="ui inverted vertical menu">
               <a class="active item">
               Home
               </a>
               <a class="item">
               Messages
               </a>
               <a class="item">
               Friends
               </a>
            </div>
         </div>
      </div>
    </div>
</div>