<h4 class="ui center aligned medium icon header">
  List of Users
  <div class="ui section divider"></div>

   <i class="circular teal comments outline icon"></i>
   <div class="ui section divider"></div>
    Ping me!
</h4>


<div class="container">
		<% @users.each do |user| %>
		<div class="ui center">
				<div class= "col-8 mt-4">
					<div class="ui card text-center">
						<div class="ui card title">
							 <%= user.username %> %></div> 
						</div>
					</div>
			
				</div>
		</div>
		<%end%>
</div>

