@import "semantic-ui";

.chatbox{
	height: 450px;
}
#messages {
	height: 15em;
	overflow: auto;
}
.input {
  button {
     
  }
}
.footer{
 }


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  padding-bottom: 25px;
  flex-direction: column;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}