<div class="ui  inverted vertical footer segment">
	<div class="ui container center">
        <small>Copyright &copy; <%= link_to "Stephen's Github", "https://github.com/stephenh0191", class: "text-white" %> 
        </small>
    </div>
 </div>
  