<div class="ui segment">
  <div class="ui inverted vertical footer segment">


        <div class="ui center aligned container">
          <div class="ui center aligned stackable inverted divided equal height stackable grid ">
            <div class="three wide column">
              <h4 class="ui inverted header">About</h4>
              <div class="ui inverted link list">
                <a class="item" href="#root">Sitemap</a>
                <a class="item" href="#root">Contact Us</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Support</h4>
              <div class="ui inverted link list">
                <a class="item" href="#root">FAQs</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Copyright </h4>
              	 <small>&copy;
               <%= link_to "Stephen's Github", "https://github.com/stephenh0191", class: "text-white" %> 
        </small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>